<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

<form method="post" action="index.html">
    <div class="box2">
        <h1>Web Trader Main Menu</h1>
        <input class="btn" type="submit" name="balance" value="View Balance">
        <input class="btn" type="submit" name="deposit" value="Deposit Funds">
        <input class="btn" type="submit" name="buy" value="Buy Shares">
        <input class="btn" type="submit" name="sell" value="Sell Shares">
        <input class="btn" type="submit" name="positions" value="View Positions">
        <input class="btn" type="submit" name="trades" value="View Trades">
    </div>
</form>
